<body>
    <div class="image">
        <br> 
        <h1> ONLINE WALLET APPLICATION </h1>
        <br>
        <h3> THE REVOLUTION IS HERE.
           NO WALLETS.<br>NO RECEIPTS. ALL YOU NEED IS YOURSELF.<br>
           <br>
        THE WALLET THAT WILL MAKE YOU FORGET<br> YOUR BANK. 
        <br>
        <br>
        AN EASY WAY TO PAY FRIENDS <br>AND FAMILY.
        </h3>
    <div class="container">
        <div class="topnav">
    <div>
        <button type="button" class="btn btn-outline-danger btn-lg ">
         <a routerLink="/login">Login</a>
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-danger btn-lg ">
            <a routerLink="/signup">SignUp</a>
        </button>
    </div>
    </div>
    </div>
    </div>
</body>
